body{
   padding: 0px;
   margin: 0px;
   background-image:radial-gradient(#c7c7c7 25%, #c7c7c7 74%);
   font-family: system-ui;
}
.clearfix{
   clear:both;
}
.main{
   height: 1250px;
   weight:800px;
   background-color: White;
   box-shadow: 5px 7px 15px 5px gray;
   margin:20px auto;
}
.top-section{
   background-color: Gray;
   text-align: center;
   padding: 20px;
 
}
.profile{
   width: 200px;
   border-radius:50%;
}
.p1{
   color:White ;
   font-size: 40px;
   font-weight: bold;
   margin: 0px;
   margin-top: 10px;
}
.p1 span{
   font-weight:100;
   color: black;
   
}
.p2{
   font-size: 20px;
   color: red;
   margin: 0px;
   margin-top: 10px;
}
.col-div-4{
   width: 35%;
   float: left;
}
.col-div-8{
   width:62;
   float: left;
}
.line{
   border-left: 2px solid black;
   height:680px;
   width: 2%;
   margin-top: 30px;
   float: left;
}
.content-box{
   padding:20px;
   
}
.head{
   font-size: 20px;
   text-transform: uppercase;
   font-weight: 600;
}
.p3{
   color: black;
   margin-bottom: -5px;
}
.fa{
   color: green;
   
}
.skills{
   margin-left: -20px;
   margin-bottom: 0px;
}
.skills li{
   padding: 5px;
   
}
.skills li span{
   color: black;
}
.p-4{
   font-size: 14px;
   color: Blue;
}
.p5 b{
   color:Black;
}
.head b{
   color: Red;
}








.navbar{
   display: flex;
   justify-content:center;
   align-items: center;
   background-color: rgba(0, 0 , 0 ,0.5);
   position: sticky;
   top: 0;
}
.navbar ul{
   display: flex;
   list-style: none;
   margin: 20px 0px;
}
.navbar ul li{
   font-family: century;
   font-size: 1.1rem;
   font-weight: bold;
}
.navbar ul li a{
   text-decoration: none;
   color: White;
   padding: 8px 25px;
   transition: all .5sec ease;
}
.navbar ul li  a:hover{
background-color: blue;
box-shadow: 0 0 10px Red;
color: red;
}
